* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
}

li {
    list-style: none;
    font-size: 12px;
}

nav {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

img {
    max-width: 100%;
}

body {
    font-family: "Raleway";
    color: #333333;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

main {
    max-width: 800px;
    padding-top: 50px;
    display: flex;
    margin: 0 auto;
}

header {
    height: 142px;
    border-bottom: 1px solid #c3c3c3;
}

header h1 {
    width: 109px;
    padding: 35px 0 13px 0;
    margin: 0 auto;
}

.nav-left {
    padding-left: 0;
    gap: 14px;
}

.nav-right {
    padding-right: 0;
    gap: 14px;
}

li a {
    color: #333333;
}

.main-left {
    padding-left: 0;
    width: 400px;
}

.main-right {
    padding-right: 0;
    margin-left: 60px;
    width: 340px;
    border-top: 1px solid #c3c3c3;
    font-size: 12px;
}

.main-right h2 {
    font-size: 16px;
    border-bottom: 1px solid #c3c3c3;
    padding-top: 6px;
    padding-bottom: 19.5px;
}

.txt {
    font-weight: 500;
    padding-top: 7px;
    line-height: 22.8px;
}

.price {
    padding-top: 20px;
    padding-bottom: 20px;
}

span {
    font-weight: 500;
}

table {
    border-collapse: collapse;
    text-align: center;
    height: 136px;
}

th, td {
    border: 1px solid #c3c3c3;
    font-weight: 420;
}

select {
    width: 184px;
    background-color: white;
    border: 1px solid #c3c3c3;
    font-family: "Raleway";
}

.table1 tr:first-child th, 
.table1 tr:first-child td {
    border-top: none;
}

.table1 tr:last-child td {
    border-bottom: none;
}

.table1 th:first-child,
.table1 td:first-child {
    border-left: none;
}

.table1 th:last-child,
.table1 td:last-child {
    border-right: none;
}

/* responsive */
@media (max-width: 896px) {

}
